:root {
  --color-a: #e174fd;
  --color-b: #a868e3;
  --color-c: #9e7ffb;
  --color-d: #2e246a;
  --color-e: #28282c;
  --color-f: #e1d0fd;
  --color-principal-blur: #00e5ffcb;
  --color-principal: #00e4ff;
  --color-blanco: #ffffff;
}

div {
  margin-bottom: 10px;
}

#video-container {
  width: auto;
  margin: 2em;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#video-container.example-style-1 .scan-region-highlight-svg,
#video-container.example-style-1 .code-outline-highlight {
  position: relative;
  stroke: var(--color-principal) !important;
}

#video-container.example-style-2 {
  position: relative;
  width: max-content;
  height: max-content;
  overflow: hidden;
}
#video-container.example-style-2 .scan-region-highlight {
  border-radius: 30px;
  outline: rgba(0, 0, 0, 0.25) solid 50vmax;
}
#video-container.example-style-2 .scan-region-highlight-svg {
  display: none;
}
#video-container.example-style-2 .code-outline-highlight {
  stroke: rgba(255, 255, 255, 0.5) !important;
  stroke-width: 15 !important;
  stroke-dasharray: none !important;
}

hr {
  margin-top: 32px;
}
input[type="file"] {
  display: block;
  margin-bottom: 16px;
}

.contenedor-video-ejercicios {
  margin: auto;
  width: 100%;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.select-fondo{
  font-size: 1.2em;
  background-color: var(--color-principal-blur);
}

iframe {
  border-radius: 10px;
  margin: 0 0 2em 0;
}

#aqui-el-video {
  padding: 2em 0 0 0;
}

.titulo-nav-bar {
  color: var(--color-blanco);
  font-size: 2em;
}

.opcion-menu {
  border: 2px var(--color-e) solid;
  color: var(--color-blanco);
  margin: 3px;
  border-radius: 5px; 
  padding: 10px;
}

.opcion-menu-logo {
  border: 2px var(--color-e) solid;
  color: var(--color-blanco);
  margin: 3px;
  border-radius: 50%;
  padding: 10px;
}

.opcion-menu-logo:hover {
  border: 2px var(--color-principal) solid;
  color: var(--color-blanco);
  margin: 3px;
  border-radius: 55%;
}

.menu-oscuro {
  background-color: var(--color-e) !important;
  
}

.opciones-salida:active {
  color: var(--color-principal) !important;
}

.img-sm {
  max-width: 100px;
  max-height: 100px;
}

.opcion-menu:hover {
  color: var(--color-principal);
  border: 2px var(--color-principal) solid;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    355deg,
    rgba(0, 0, 0, 1) 1%,
    rgba(40, 40, 44, 1) 23%,
    rgba(2, 218, 244, 1) 30%,
    rgba(40, 40, 44, 1) 78%
  );
}

nav {
  color: #ffffff !important;
  font-size: 1.5em;
  background-color: var(--color-d) !important;
  border: 4px var(--color-e) solid;
}

.info em {
  color: var(--color-principal);
  font-size: 1.1em;
}

.info h3 {
  font-size: 4em;
  color: var(--color-blanco);
  margin: 1em 0 1em 3em;
}

.info p {
  font-size: 3em;
  color: var(--color-blanco);
  margin: 1em 0 1em 4em;
}

.info-img {
  display: flex;
}

.info-img img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 1000px;
}

.contenedor-instrucciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 4px var(--color-e) solid;
  margin: 0;
  align-content: center;
  border-radius: 0px;
  background-color: var(--color-principal-blur);
  padding: 0.5em;
}
.contenedor-instrucciones p {
  font-size: 1.5em;
  margin: 0.5em 0 0.5em 0;
  text-align: center;
}

body {
  width: 100%;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.contenedor-botones-scan {
  margin: 0 0 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.contenedor-libreria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.libreria-desc h1 {
  color: var(--color-blanco);
  font-size: 5em;
  text-align: center;
}

.libreria-desc p {
  color: var(--color-blanco);
  font-size: 2em;
  text-align: center;
}

.tarjeta-ejercicio {
  background-color: var(--color-e);
  border-radius: 10px;
  padding: 3em;
  margin: 1em 1em 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
}

.tarjeta-ejercicio h2 {
  color: var(--color-principal);
  font-size: 3em;
}

.tarjeta-ejercicio p {
  color: var(--color-blanco);
  font-size: 1.3em;
  text-align: left;
}

.tarjeta-ejercicio ol {
  color: var(--color-blanco);
  font-size: 1.2em;
  text-align: left;
}

.tarjeta-ejercicio ol li::marker{
  color: var(--color-principal);
}

#contenedor-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta-noticia {
  background-color: var(--color-e);
  border-radius: 10px;
  width: 90%;
  padding: 3em;
  margin: 1em 1em 6em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta-noticia h1 {
  color: var(--color-principal);
  font-size: 4.5em;
}

.tarjeta-noticia h2{
  color: var(--color-principal);
}

.tarjeta-noticia em {
  background-color: #00e4ff;
  color: var(--color-e);
}

.tarjeta-noticia p,
ol {
  color: var(--color-blanco);
  font-size: 1.3em;
  line-height: 2;
  font-weight: lighter;
}

.tarjeta-noticia ol li::marker{
  font-size: 1.5em;
  color: var(--color-principal);
}

.tarjeta-noticia img{
  max-width: 80%;
  margin: 2em;
  border-radius: 10px;
}
