:root {
  --color-a: #e174fd;
  --color-b: #a868e3;
  --color-c: #9e7ffb;
  --color-d: #686be3;
  --color-e: #749bfd;
  --color-f: #e1d0fd;
}

div {
  margin-bottom: 16px;
}

#video-container {
  margin: 1.5em;
  border-radius: 10px;
  border: 5px var(--color-d) solid;
  line-height: 0;
}

#video-container.example-style-1 .scan-region-highlight-svg,
#video-container.example-style-1 .code-outline-highlight {
  stroke: #64a2f3 !important;
}

#video-container.example-style-2 {
  position: relative;
  width: max-content;
  height: max-content;
  overflow: hidden;
}
#video-container.example-style-2 .scan-region-highlight {
  border-radius: 30px;
  outline: rgba(0, 0, 0, 0.25) solid 50vmax;
}
#video-container.example-style-2 .scan-region-highlight-svg {
  display: none;
}
#video-container.example-style-2 .code-outline-highlight {
  stroke: rgba(255, 255, 255, 0.5) !important;
  stroke-width: 15 !important;
  stroke-dasharray: none !important;
}

hr {
  margin-top: 32px;
}
input[type="file"] {
  display: block;
  margin-bottom: 16px;
}

.contenedor-video-ejercicios {
  margin: auto;
  width: 100%;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

iframe {
  border-radius: 10px;
  margin: 0 0 2em 0;
}

#aqui-el-video {
  padding: 2em 0 0 0;
}

.titulo-nav-bar {
  font-size: 2em;
}

nav {
  color: #fff !important;
  font-size: 1.5em;
  background-color: var(--color-d) !important;
  border: 4px var(--color-e) solid;
}

.contenedor-instrucciones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px var(--color-d) solid;
  margin: 1.5em;
  align-content: center;
  border-radius: 10px;
}
.contenedor-instrucciones p {
  font-size: 1.5em;
  margin: 0.5em 0 0.5em 0;
  text-align: center;
}

body {
  width: 100%;
  max-width: 1290px;
}

.contenedor-botones-scan {
  margin: 0 0 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

